<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トレーニングアプリ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>新人一覧</h1>
        <ul>
            <li><a th:href="@{/member1}">1人目：<span th:text="${member1}"></span></a></li>
            <li><a th:href="@{/member2}">2人目：<span th:text="${member2}"></span></a></li>
            <li><a th:href="@{/member3}">3人目：<span th:text="${member3}"></span></a></li>
        </ul>
    </div>
</body>
</html>
